@inject IJSRuntime JS
@implements IAsyncDisposable

<scale-modal
  heading="Edit Event"
  id="@nameof(EventEditor)"
  size="small">
  <EditForm Model="model">
    <DataAnnotationsValidator />

    <InputNumber class="hidden" @bind-Value="model.EventId" />

    <div>
      <label for="title">Title:</label>
      <InputText @bind-Value="model.Title" id="title" />
      <ValidationMessage For="@(() => model.Title)" />
    </div>
    
    <div>
      <label for="type">Type:</label>
      <InputSelect id="type" @bind-Value="model.Type">
        @foreach (var type in Enum.GetValues<EventType>())
        {
          <option value="@type">@type</option>
        }
      </InputSelect>
      <ValidationMessage For="@(() => model.Type)" />
    </div>

  </EditForm>
</scale-modal>

<scale-button @onclick="openModal" size="small">
  <scale-icon-action-edit accessibility-title="edit" />
  Edit
</scale-button>
