@using Microsoft.EntityFrameworkCore
@using StatusDashboard.Services
@implements IAsyncDisposable
@inject IDbContextFactory<StatusContext> context;
@inject SlaService sla;

<tr>
  <td rowspan="@services.Length" class="text-lg">
    @Category.Name
  </td>

  <td class="text-lg">
    @services.First().Service.Name
  </td>
  
  @foreach (var i in slas.First())
  {
    <td class="border-l text-center @getColor(i)">
      @i.ToString("0.00")
    </td>
  }
</tr>

@for (var i = 1; i < services.Length; i ++)
{
  <tr>
    <td class="text-lg">
      @services[i].Service.Name
    </td>
  
    @foreach (var j in slas[i])
    {
      <td class="border-l text-center @getColor(j)">
        @j.ToString("0.00")
      </td>
    }
  </tr>
}
