@using StatusDashboard.Components.Event
@using StatusDashboard.Helpers
@inherits ComponentBaseWithDb
@inject NavigationManager nav

<EditForm
  class="flex flex-col gap-y-6 rounded-md bg-white px-8 py-7 shadow-md"
  Model="model"
  OnSubmit="submit">

  <DataAnnotationsValidator />

  <div>
    <FluentTextField
      AutoComplete="off"
      Autofocus="true"
      @bind-Value="model.Title"
      Class="w-full"
      Label="@nameof(model.Title)"
      Placeholder="Please give the title of event"
      Required="true" />

    <ValidationMessage
      class="text-red-600"
      For="@(() => model.Title)" />
  </div>

  <div>
    <FluentSelect
      @bind-SelectedOption="model.Type"
      Items="@(Enum.GetValues<EventType>().Skip(1))"
      Label="@nameof(model.Type)"
      TOption="EventType" />
  </div>

  <div>
    <FluentTextArea
      @bind-Value="model.Description"
      Class="w-full"
      Label="@nameof(model.Description)"
      Placeholder="If there is any known information, please write it down here."
      Resize="TextAreaResize.Vertical" />
    
    <ValidationMessage
      class="text-red-600"
      For="@(() => model.Description)" />
  </div>
  
  <div>
    <ServiceSelector Items="@items.AsQueryable()" />
    
    <ValidationMessage
      class="text-red-600"
      For="@(() => model.Services)" />
  </div>

  <div>
    <FluentDatePicker
      @bind-Value="model.Start"
      Label="@(nameof(model.Start) + " CET")"
      Required="true" />

    <FluentTimePicker
      @bind-Value="model.Start"
      Required="true" />
    
    <ValidationMessage
      class="text-red-600"
      For="@(() => model.Start)" />
  </div>

  @if (model.Type == EventType.Maintenance)
  {
    <div>
      <FluentDatePicker
        @bind-Value="model.End"
        Label="@(nameof(model.End) + " CET")"
        Required="true" />

      <FluentTimePicker
        @bind-Value="model.End"
        Required="true" />

      <ValidationMessage
        class="text-red-600"
        For="@(() => model.End)" />
    </div>
  }

  <scale-button class="self-end" size="small" type="submit">
    Submit
  </scale-button>
</EditForm>
