@using Microsoft.EntityFrameworkCore
@using StatusDashboard.Services
@implements IAsyncDisposable
@inject IDbContextFactory<StatusContext> context;

@{
  var queryable = items.AsQueryable();
}

<FluentInputLabel Required="true" Class="pb-1">
  Affected Services
</FluentInputLabel>

<div class="max-h-52 overflow-auto">
  <FluentDataGrid
    GenerateHeader="GenerateHeaderOption.Sticky"
    ItemKey="@(x => x.Id)"
    Items="@queryable"
    ShowHover="true"
    TGridItem="ServiceItem">

    <PropertyColumn
      Property="@(x => x.Name)"
      Title="@nameof(ServiceItem.Name)" />

    @foreach (var i in items.First().Regions)
    {
      <TemplateColumn
        TGridItem="ServiceItem"
        Title="@i.Name">
        <FluentCheckbox
          Disabled="@(context.Regions.All(x => x.Id != i.Id))"
          ValueChanged="@(x => context.Regions.Single(y => y.Id == i.Id).Selected = x)" />
      </TemplateColumn>
    }
  </FluentDataGrid>
</div>
