@{
  var items = new List<ServiceItem>();

  for (var i = 1; i <= 10; i++)
  {
    items.Add(new()
    {
      Id = i,
      Name = $"Service {i}",
      Regions =
      [
        new() { Id = 1, Name = "EU-DE" },
        new() { Id = 2, Name = "EU-NL" }
      ]
    });
  }

  var queryable = items.AsQueryable();
}

<FluentLabel Class="pb-1">
  Affected Services
</FluentLabel>

<div class="max-h-52 overflow-auto">
  <FluentDataGrid
    GenerateHeader="GenerateHeaderOption.Sticky"
    ItemKey="@(x => x.Id)"
    Items="@queryable"
    ShowHover="true"
    TGridItem="ServiceItem">

    <PropertyColumn
      Property="@(x => x.Name)"
      Title="@nameof(ServiceItem.Name)" />

    @foreach (var i in items.First().Regions)
    {
      <TemplateColumn
        TGridItem="ServiceItem"
        Title="@i.Name">
        <FluentCheckbox
          ValueChanged="@(x => context.Regions.Single(y => y.Name == i.Name).Selected = x)" />
      </TemplateColumn>
    }
  </FluentDataGrid>
</div>
