@using System.Globalization
@using StatusDashboard.Components.Home
@using StatusDashboard.Helpers
@inherits ComponentBaseWithDb
@inject IJSRuntime JS

@if (isBegin)
{
  <label class="mb-6 text-2xl font-medium text-slate-800" @ref="labelElement">
    @curr.Start.ToUniversalTime().ToString("MMMM yyyy", CultureInfo.InvariantCulture)
  </label>
}

<li class="border-l-2 relative flex flex-col gap-y-2.5 border-slate-300 pb-10 pl-7 last:pb-0">
  <a class="w-fit text-2xl font-medium hover:underline" href="/Event/@curr.Id">
    @servicesTxt @regionsTxt @curr.Type
  </a>

  <div class="flex gap-x-2.5">
    <scale-tag color="@color">@curr.Status</scale-tag>

    @foreach (var i in services.Take(3))
    {
      <scale-tag>@i.Name</scale-tag>
    }

    @if (services.Length > 3)
    {
      <scale-tag>+@(services.Length - 3)</scale-tag>
    }
  </div>

  <label class="text-lg font-bold text-slate-500">
    @curr.Start.ToUniversalTime().ToString("dd MMM, HH:mm", CultureInfo.InvariantCulture)

    @if (curr.End is not null)
    {
      @curr.End.Value.ToUniversalTime().ToString(" '-' dd MMM, HH:mm 'UTC'", CultureInfo.InvariantCulture)
    }
  </label>

  <Indicator Class="absolute -left-3.5 top-0.5 bg-zinc-50" Type="@curr.Type"/>
</li>
